# 타이타닉 데이터 분석 

- 데이터 출처 : https://www.kaggle.com/competitions/titanic/data

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("241212_01_MLlib_classification").getOrCreate()
spark

24/12/12 10:58:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
df = spark.read.format("csv")\
    .option("header",'true')\
    .option('inferSchema', 'true')\
    .load("data/titanic.csv")

In [3]:
df.show()

+--------+------+------+----+-----+-----+-------+-----------+
|survived|pclass|   sex| age|sibsp|parch|   fare|embark_town|
+--------+------+------+----+-----+-----+-------+-----------+
|       0|     3|  male|22.0|    1|    0|   7.25|Southampton|
|       1|     1|female|38.0|    1|    0|71.2833|  Cherbourg|
|       1|     3|female|26.0|    0|    0|  7.925|Southampton|
|       1|     1|female|35.0|    1|    0|   53.1|Southampton|
|       0|     3|  male|35.0|    0|    0|   8.05|Southampton|
|       0|     3|  male|null|    0|    0| 8.4583| Queenstown|
|       0|     1|  male|54.0|    0|    0|51.8625|Southampton|
|       0|     3|  male| 2.0|    3|    1| 21.075|Southampton|
|       1|     3|female|27.0|    0|    2|11.1333|Southampton|
|       1|     2|female|14.0|    1|    0|30.0708|  Cherbourg|
|       1|     3|female| 4.0|    1|    1|   16.7|Southampton|
|       1|     1|female|58.0|    0|    0|  26.55|Southampton|
|       0|     3|  male|20.0|    0|    0|   8.05|Southampton|
|       0|     3|  male|39.0|    1|    5| 31.275|Southampton|
|       0|     3|female|14.0|    0|    0| 7.8542|Southampton|
|       1|     2|female|55.0|    0|    0|   16.0|Southampton|
|       0|     3|  male| 2.0|    4|    1| 29.125| Queenstown|
|       1|     2|  male|null|    0|    0|   13.0|Southampton|
|       0|     3|female|31.0|    1|    0|   18.0|Southampton|
|       1|     3|female|null|    0|    0|  7.225|  Cherbourg|
+--------+------+------+----+-----+-----+-------+-----------+
only showing top 20 rows

In [6]:
df.printSchema()

root
 |-- survived: integer (nullable = true)
 |-- pclass: integer (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: double (nullable = true)
 |-- sibsp: integer (nullable = true)
 |-- parch: integer (nullable = true)
 |-- fare: double (nullable = true)
 |-- embark_town: string (nullable = true)