In [4]:
#singleton pattern object builder
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("FristSparkSessionApp").getOrCreate()
spark

24/12/06 13:44:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [5]:
myRange = spark.range(1000)
myRange

DataFrame[id: bigint]

In [6]:
myRange.show(10)

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+
only showing top 10 rows

In [34]:
data = [
    ("Brooke", 20, "Female"),
    ("Denny", 31, "Male"),
    ("Jules", 30, "Female"),
    ("TD", 35, "Male"),
    ("Brooke", 25, "Female"),
    ("Alice", 28, "Female"),
    ("Denny", 40, "Male"),
    ("Jules", 33, "Female"),
    ("Charlie", 29, "Male"),
    ("TD", 38, "Male"),
    ("Emily", 22, "Female"),
    ("Brooke", 27, "Female"),
    ("Frank", 36, "Male"),
    ("Alice", 31, "Female"),
    ("George", 24, "Male"),
]

In [35]:
data_df = spark.createDataFrame(data,["Name","Age", "Gender"])
data_df

DataFrame[Name: string, Age: bigint, Gender: string]

In [36]:
data_df.show()

+-------+---+------+
|   Name|Age|Gender|
+-------+---+------+
| Brooke| 20|Female|
|  Denny| 31|  Male|
|  Jules| 30|Female|
|     TD| 35|  Male|
| Brooke| 25|Female|
|  Alice| 28|Female|
|  Denny| 40|  Male|
|  Jules| 33|Female|
|Charlie| 29|  Male|
|     TD| 38|  Male|
|  Emily| 22|Female|
| Brooke| 27|Female|
|  Frank| 36|  Male|
|  Alice| 31|Female|
| George| 24|  Male|
+-------+---+------+

In [49]:
#평균값
from pyspark.sql.functions import avg
result3 = data_df.filter(data_df.Age > 30).groupBy("Name").agg(avg("Age").alias("AvgAge"))
result3.show()

+-----+------+
| Name|AvgAge|
+-----+------+
|Jules|  33.0|
|   TD|  36.5|
|Alice|  31.0|
|Denny|  35.5|
|Frank|  36.0|
+-----+------+

In [38]:
data_df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- Gender: string (nullable = true)

In [39]:
data_df.createOrReplaceTempView("people")

In [40]:
result = spark.sql("select * from people where Age >30")
result.show()

+-----+---+------+
| Name|Age|Gender|
+-----+---+------+
|Denny| 31|  Male|
|   TD| 35|  Male|
|Denny| 40|  Male|
|Jules| 33|Female|
|   TD| 38|  Male|
|Frank| 36|  Male|
|Alice| 31|Female|
+-----+---+------+

In [45]:
result2 = spark.sql("select * from people where Age >30 and Gender = 'Male'")
result2.show()

+-----+---+------+
| Name|Age|Gender|
+-----+---+------+
|Denny| 31|  Male|
|   TD| 35|  Male|
|Denny| 40|  Male|
|   TD| 38|  Male|
|Frank| 36|  Male|
+-----+---+------+

In [64]:
# StructType 으로 구조 정의
from pyspark.sql.types import * 

schema = StructType([
    StructField("Author",StringType(),False),
    StructField("Age",IntegerType(),False),
    StructField("Gender",StringType(),False),
])
schema

StructType(List(StructField(Author,StringType,false),StructField(Age,IntegerType,false),StructField(Gender,StringType,false)))

In [68]:
a_df = spark.createDataFrame(data, schema)
a_df.printSchema()
a_df.show()

root
 |-- Author: string (nullable = false)
 |-- Age: integer (nullable = false)
 |-- Gender: string (nullable = false)

+-------+---+------+
| Author|Age|Gender|
+-------+---+------+
| Brooke| 20|Female|
|  Denny| 31|  Male|
|  Jules| 30|Female|
|     TD| 35|  Male|
| Brooke| 25|Female|
|  Alice| 28|Female|
|  Denny| 40|  Male|
|  Jules| 33|Female|
|Charlie| 29|  Male|
|     TD| 38|  Male|
|  Emily| 22|Female|
| Brooke| 27|Female|
|  Frank| 36|  Male|
|  Alice| 31|Female|
| George| 24|  Male|
+-------+---+------+

In [70]:
# define schema for our data
schema3 = StructType([
   StructField("Id", IntegerType(), False),
   StructField("First", StringType(), False),
   StructField("Last", StringType(), False),
   StructField("Url", StringType(), False),
   StructField("Published", StringType(), False),
   StructField("Hits", IntegerType(), False),
   StructField("Campaigns", ArrayType(StringType()), False)])

#create our data
data3 = [[1, "Jules", "Damji", "https://tinyurl.1", "1/4/2016", 4535, ["twitter", "LinkedIn"]],
       [2, "Brooke","Wenig","https://tinyurl.2", "5/5/2018", 8908, ["twitter", "LinkedIn"]],
       [3, "Denny", "Lee", "https://tinyurl.3","6/7/2019",7659, ["web", "twitter", "FB", "LinkedIn"]],
       [4, "Tathagata", "Das","https://tinyurl.4", "5/12/2018", 10568, ["twitter", "FB"]],
       [5, "Matei","Zaharia", "https://tinyurl.5", "5/14/2014", 40578, ["web", "twitter", "FB", "LinkedIn"]],
       [6, "Reynold", "Xin", "https://tinyurl.6", "3/2/2015", 25568, ["twitter", "LinkedIn"]]
      ]

In [73]:
data_df3 = spark.createDataFrame(data3, schema)

In [84]:
#컬럼 별로 추출
data_df3.select('*').show() #projection

+---+---------+-------+-----------------+---------+-----+--------------------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|
+---+---------+-------+-----------------+---------+-----+--------------------+
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|
+---+---------+-------+-----------------+---------+-----+--------------------+

In [87]:
data_df3.select('Id','First',).show() #projection

+---+---------+
| Id|    First|
+---+---------+
|  1|    Jules|
|  2|   Brooke|
|  3|    Denny|
|  4|Tathagata|
|  5|    Matei|
|  6|  Reynold|
+---+---------+

In [94]:
from pyspark.sql.functions import *
data_df3.select(expr("Hits")*2).show()

+----------+
|(Hits * 2)|
+----------+
|      9070|
|     17816|
|     15318|
|     21136|
|     81156|
|     51136|
+----------+

In [95]:
# 새로운 컬럼 추가
data_df3.withColumn("Big Hitters", (expr("Hits > 10000"))).show()

+---+---------+-------+-----------------+---------+-----+--------------------+-----------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|Big Hitters|
+---+---------+-------+-----------------+---------+-----+--------------------+-----------+
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|      false|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|      false|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|      false|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|       true|
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|       true|
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|       true|
+---+---------+-------+-----------------+---------+-----+--------------------+-----------+

In [98]:
data_df3.select("Campaigns").show()

+--------------------+
|           Campaigns|
+--------------------+
| [twitter, LinkedIn]|
| [twitter, LinkedIn]|
|[web, twitter, FB...|
|       [twitter, FB]|
|[web, twitter, FB...|
| [twitter, LinkedIn]|
+--------------------+

In [110]:
# Hits 10000 이상만 추출 
data_df3.select("Hits").where(col("Hits")>10000).show()

+-----+
| Hits|
+-----+
|10568|
|40578|
|25568|
+-----+

In [115]:
# First 가 Matei 추출 
data_df3.select('*').where(col("First")== 'Matei').show()

+---+-----+-------+-----------------+---------+-----+--------------------+
| Id|First|   Last|              Url|Published| Hits|           Campaigns|
+---+-----+-------+-----------------+---------+-----+--------------------+
|  5|Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|
+---+-----+-------+-----------------+---------+-----+--------------------+

In [109]:
data_df3.select("Campaigns").show()

+--------------------+
|           Campaigns|
+--------------------+
| [twitter, LinkedIn]|
| [twitter, LinkedIn]|
|[web, twitter, FB...|
|       [twitter, FB]|
|[web, twitter, FB...|
| [twitter, LinkedIn]|
+--------------------+

In [104]:
#camplaigns 에서 LinkedIn 만 추출
linkedin_only = data_df3.selectExpr("filter(Campaigns, x-> x=='LinkedIn') as LinkedIn_Campaigns")
linkedin_only.show()

+------------------+
|LinkedIn_Campaigns|
+------------------+
|        [LinkedIn]|
|        [LinkedIn]|
|        [LinkedIn]|
|                []|
|        [LinkedIn]|
|        [LinkedIn]|
+------------------+

In [ ]:
# DDL 로 구조 정의 p.52

schema_ddl = """ \
    `ID` Int NOT NUll, \
    `First` String, \
    `Last` String, \
    `Url` String, \
    `Published` String, \
    `Hits` Int, \
    `Campagins` Array<String> \
"""
# '말고 ` 써야함
# SQL DDL 대소문자 상관없음
# nullable은 Not NUll

In [116]:
schema = "'ID' INT, 'First' STRING, 'Last' STRING, 'Url' STRING, 'Published' STRING, 'Hits' INT, 'Campaigns' ARRAY<STRING>"

In [117]:
spark.stop()