In [1]:
#singleton pattern object builder
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("241206_03_DataFrameAPI").getOrCreate()
spark

24/12/06 16:50:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
df = spark.read.format("csv").load("data/2015-summary.csv", interSchema=True, header=True)
df

DataFrame[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string, count: string]

In [3]:
print(df.schema)
print(df.printSchema())

StructType(List(StructField(DEST_COUNTRY_NAME,StringType,true),StructField(ORIGIN_COUNTRY_NAME,StringType,true),StructField(count,StringType,true)))
root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: string (nullable = true)

None

In [4]:
df.take(5)

[Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Romania', count='15'),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Croatia', count='1'),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Ireland', count='344'),
 Row(DEST_COUNTRY_NAME='Egypt', ORIGIN_COUNTRY_NAME='United States', count='15'),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='India', count='62')]

In [5]:
df.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

In [6]:
#spark DataTable
df.select("DEST_COUNTRY_NAME").show(5)

+-----------------+
|DEST_COUNTRY_NAME|
+-----------------+
|    United States|
|    United States|
|    United States|
|            Egypt|
|    United States|
+-----------------+
only showing top 5 rows

In [7]:
df.count()

256

In [8]:
df.select("DEST_COUNTRY_NAME").count()

256

In [9]:
#중복 확인
df_dup = df.select("DEST_COUNTRY_NAME").dropDuplicates()
df_dup.show(5)

+-----------------+
|DEST_COUNTRY_NAME|
+-----------------+
|         Anguilla|
|           Russia|
|         Paraguay|
|          Senegal|
|           Sweden|
+-----------------+
only showing top 5 rows

In [10]:
df_dup = df.select("DEST_COUNTRY_NAME").dropDuplicates().cache()
df_dup.show(5)

+-----------------+
|DEST_COUNTRY_NAME|
+-----------------+
|         Anguilla|
|           Russia|
|         Paraguay|
|          Senegal|
|           Sweden|
+-----------------+
only showing top 5 rows

In [11]:
df_dup.distinct().count()

132

In [12]:
df.sort("DEST_COUNTRY_NAME").show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|             Algeria|      United States|    4|
|              Angola|      United States|   15|
|            Anguilla|      United States|   41|
| Antigua and Barbuda|      United States|  126|
|           Argentina|      United States|  180|
|               Aruba|      United States|  346|
|           Australia|      United States|  329|
|             Austria|      United States|   62|
|          Azerbaijan|      United States|   21|
|             Bahrain|      United States|   19|
|            Barbados|      United States|  154|
|             Belgium|      United States|  259|
|              Belize|      United States|  188|
|             Bermuda|      United States|  183|
|             Bolivia|      United States|   30|
|Bonaire, Sint Eus...|      United States|   58|
|              Brazil|      United States|  853|
|British Virgin Is...|      United States|  107|
|            Bulgaria|      United States|    3|
|        Burkina Faso|      United States|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [13]:
from pyspark.sql.functions import *

#새로 컬럼 추가
df3 = df.withColumn('withInCountry',expr("ORIGIN_COUNTRY_NAME == DEST_COUNTRY_NAME"))
df3.show(5)

+-----------------+-------------------+-----+-------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|withInCountry|
+-----------------+-------------------+-----+-------------+
|    United States|            Romania|   15|        false|
|    United States|            Croatia|    1|        false|
|    United States|            Ireland|  344|        false|
|            Egypt|      United States|   15|        false|
|    United States|              India|   62|        false|
+-----------------+-------------------+-----+-------------+
only showing top 5 rows

In [14]:
#SQL 구문 - CASE WHEN > 수치형 변수 > 명목형 변수로 변환

df4 = df.withColumn('Category',expr("CASE WHEN count <10 THEN 'under' WHEN count >=10 THEN 'upper' END"))
df4.show(5)

+-----------------+-------------------+-----+--------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|Category|
+-----------------+-------------------+-----+--------+
|    United States|            Romania|   15|   upper|
|    United States|            Croatia|    1|   under|
|    United States|            Ireland|  344|   upper|
|            Egypt|      United States|   15|   upper|
|    United States|              India|   62|   upper|
+-----------------+-------------------+-----+--------+
only showing top 5 rows

In [15]:
# count * 2 
df5 = df4.withColumn('withInColumn',expr("ORIGIN_COUNTRY_NAME==DEST_COUNTRY_NAME"))
df5.show(5)

+-----------------+-------------------+-----+--------+------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|Category|withInColumn|
+-----------------+-------------------+-----+--------+------------+
|    United States|            Romania|   15|   upper|       false|
|    United States|            Croatia|    1|   under|       false|
|    United States|            Ireland|  344|   upper|       false|
|            Egypt|      United States|   15|   upper|       false|
|    United States|              India|   62|   upper|       false|
+-----------------+-------------------+-----+--------+------------+
only showing top 5 rows

In [16]:
df5.groupBy("withInColumn").count().show()

+------------+-----+
|withInColumn|count|
+------------+-----+
|        true|    1|
|       false|  255|
+------------+-----+

## Projection 과 Filter
```
select a,b,c from Table A # projection > column > Transformation
where a>10 #filter > Row > Transformation
```

In [17]:
#filter 
df6 = df5.where('count<5')
df6.show()
df6.count()

+--------------------+-------------------+-----+--------+------------+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|Category|withInColumn|
+--------------------+-------------------+-----+--------+------------+
|       United States|            Croatia|    1|   under|       false|
|       United States|          Singapore|    1|   under|       false|
|             Moldova|      United States|    1|   under|       false|
|               Malta|      United States|    1|   under|       false|
|             Algeria|      United States|    4|   under|       false|
|       United States|          Gibraltar|    1|   under|       false|
|Saint Vincent and...|      United States|    1|   under|       false|
|            Suriname|      United States|    1|   under|       false|
|       United States|             Cyprus|    1|   under|       false|
|       United States|           Malaysia|    3|   under|       false|
|            Thailand|      United States|    3|   under|       false|
|             Liberia|      United States|    2|   under|       false|
|             Hungary|      United States|    2|   under|       false|
|       United States|            Vietnam|    2|   under|       false|
|        Burkina Faso|      United States|    1|   under|       false|
|            Djibouti|      United States|    1|   under|       false|
|       United States|            Estonia|    1|   under|       false|
|       United States|            Hungary|    3|   under|       false|
|              Zambia|      United States|    1|   under|       false|
|            Malaysia|      United States|    2|   under|       false|
+--------------------+-------------------+-----+--------+------------+
only showing top 20 rows

46

In [18]:
df6 = df5.where('count<5').where("ORIGIN_COUNTRY_NAME != 'United States'")
df6.show()
df6.count()

+-----------------+-------------------+-----+--------+------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|Category|withInColumn|
+-----------------+-------------------+-----+--------+------------+
|    United States|            Croatia|    1|   under|       false|
|    United States|          Singapore|    1|   under|       false|
|    United States|          Gibraltar|    1|   under|       false|
|    United States|             Cyprus|    1|   under|       false|
|    United States|           Malaysia|    3|   under|       false|
|    United States|            Vietnam|    2|   under|       false|
|    United States|            Estonia|    1|   under|       false|
|    United States|            Hungary|    3|   under|       false|
|    United States|           Thailand|    4|   under|       false|
|    United States|            Liberia|    2|   under|       false|
|    United States|              Malta|    2|   under|       false|
|    United States|          Lithuania|    1|   under|       false|
|    United States|           Bulgaria|    1|   under|       false|
|    United States|            Georgia|    1|   under|       false|
|    United States|            Bahrain|    1|   under|       false|
|    United States|   Papua New Guinea|    1|   under|       false|
|    United States|          Greenland|    4|   under|       false|
|    United States|          Indonesia|    2|   under|       false|
|    United States|         Montenegro|    1|   under|       false|
|    United States|            Namibia|    1|   under|       false|
+-----------------+-------------------+-----+--------+------------+

20

In [88]:
#프로젝션, 필터링 연습 
df5 = df5.withColumn("count", col("count").cast("int")) # count 가 string 이네..? int 로 변경-- cast()
# df5.show(10)

#국내 여행이 아니면서 가장 횟수가 많은 ORIGIN_COUNTRY_NAME top 10을  추출해보세요
top10_trip = df5.where("ORIGIN_COUNTRY_NAME != DEST_COUNTRY_NAME") \
                .groupBy("ORIGIN_COUNTRY_NAME") \
                .sum("count") \
                .sort("sum(count)", ascending=False)
top10_trip.show(10)

+-------------------+----------+
|ORIGIN_COUNTRY_NAME|sum(count)|
+-------------------+----------+
|      United States|     41964|
|             Canada|      8483|
|             Mexico|      7187|
|     United Kingdom|      1970|
|              Japan|      1496|
| Dominican Republic|      1420|
|            Germany|      1336|
|        The Bahamas|       986|
|             France|       952|
|              China|       920|
+-------------------+----------+
only showing top 10 rows

In [89]:
#국내 여행이 아니면서 가장 횟수가 적은 ORIGIN_COUNTRY_NAME top 10을  추출해보세요
top10_trip_least = df5.where("ORIGIN_COUNTRY_NAME != DEST_COUNTRY_NAME")\
                .groupBy("ORIGIN_COUNTRY_NAME").count()\
                .sort("count", ascending=True)
top10_trip_least.show(10)

+-------------------+-----+
|ORIGIN_COUNTRY_NAME|count|
+-------------------+-----+
|            Senegal|    1|
|           Paraguay|    1|
|             Russia|    1|
|           Anguilla|    1|
|           Kiribati|    1|
|             Guyana|    1|
|             Sweden|    1|
|          Singapore|    1|
|           Malaysia|    1|
|        Philippines|    1|
+-------------------+-----+
only showing top 10 rows

In [73]:
#도착국가별 count 총합이 가장 많은 top10을 추출해 보세요
df7 = df5.groupBy("DEST_COUNTRY_NAME").sum("count").sort('sum(count)',ascending = False)
df7.show(10)

+------------------+----------+
| DEST_COUNTRY_NAME|sum(count)|
+------------------+----------+
|     United States|    411352|
|            Canada|      8399|
|            Mexico|      7140|
|    United Kingdom|      2025|
|             Japan|      1548|
|           Germany|      1468|
|Dominican Republic|      1353|
|       South Korea|      1048|
|       The Bahamas|       955|
|            France|       935|
+------------------+----------+
only showing top 10 rows

In [80]:
#카테고리별 분석
df6 = df5.withColumn("count", col("count").cast("int"))
df6.groupby("Category").sum("count").show()

+--------+----------+
|Category|sum(count)|
+--------+----------+
|   under|        91|
|   upper|    453225|
+--------+----------+

In [85]:
#비행 횟수가 1000 이상 필터링
df6.filter(df6['count']>=1000).show()

+------------------+-------------------+------+--------+------------+
| DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME| count|Category|withInColumn|
+------------------+-------------------+------+--------+------------+
|            Mexico|      United States|  7140|   upper|       false|
|     United States| Dominican Republic|  1420|   upper|       false|
|     United States|      United States|370002|   upper|        true|
|           Germany|      United States|  1468|   upper|       false|
|            Canada|      United States|  8399|   upper|       false|
|Dominican Republic|      United States|  1353|   upper|       false|
|             Japan|      United States|  1548|   upper|       false|
|     United States|            Germany|  1336|   upper|       false|
|     United States|             Mexico|  7187|   upper|       false|
|    United Kingdom|      United States|  2025|   upper|       false|
|     United States|              Japan|  1496|   upper|       false|
|     United States|     United Kingdom|  1970|   upper|       false|
|     United States|             Canada|  8483|   upper|       false|
|       South Korea|      United States|  1048|   upper|       false|
+------------------+-------------------+------+--------+------------+

In [86]:
#상위 10 목적지 국가 
df6.groupBy("DEST_COUNTRY_NAME").sum("count").sort("sum(count)", ascending = False).show(10)

+------------------+----------+
| DEST_COUNTRY_NAME|sum(count)|
+------------------+----------+
|     United States|    411352|
|            Canada|      8399|
|            Mexico|      7140|
|    United Kingdom|      2025|
|             Japan|      1548|
|           Germany|      1468|
|Dominican Republic|      1353|
|       South Korea|      1048|
|       The Bahamas|       955|
|            France|       935|
+------------------+----------+
only showing top 10 rows

In [90]:
#spark SQL
df.createOrReplaceTempView("mobility_data")
spark.sql("select * from mobility_data").show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

In [91]:
spark.stop()