In [1]:
host_ip = "13.208.158.13"
user_id = "spark_user"
user_password = "1234"

In [2]:
import mysql.connector

# MySQL 연결 설정
conn = mysql.connector.connect(
    host=host_ip,      # 또는 EC2의 IP 주소
    user= user_id,     # MySQL 사용자 이름
    password= user_password,       # MySQL 사용자 비밀번호
    database="my_db"       # 연결할 데이터베이스 이름
)

In [3]:
# 커서 생성
cursor = conn.cursor()

# SQL 쿼리 실행
cursor.execute("SHOW TABLES;")

In [4]:
# 결과 출력
for table in cursor.fetchall():
    print(table)

('DEPT',)
('EMP',)
('salgrade',)

In [5]:
# 연결 종료
cursor.close()
conn.close()