In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("241210_04_yellowtaxi_trip_count").getOrCreate()
spark

24/12/10 16:02:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
import os

trip_files = '/trips/*'
zone_file = 'taxi+_zone_lookup.csv'
directory = os.path.join(os.getcwd(), 'data')

In [3]:
trips_df = spark.read.csv(f'file:///{directory}/{trip_files}', inferSchema=True, header=True)

In [4]:
zone_df = spark.read.csv(f'file:///{directory}/{zone_file}', inferSchema=True, header=True)

In [9]:
# # taxi+_zone_lookup.csv 파일 불러오기 
# df = spark.read.format("csv")\
#     .option("header",'true')\
#     .option('inferSchema', 'true')\
#     .load("data/taxi+_zone_lookup.csv")

# # yellow_tripdata_2021-01.csv 파일 불러오기 
# trip_202101_df = spark.read.format("csv")\
#     .option("header", 'true')\
#     .option('inferSchema', 'true')\
#     .load('data/yellow_tripdata_2021-01.csv')

# # yellow_tripdata_2021-02.csv 파일 불러오기 
# trip_202102_df = spark.read.format("csv")\
#     .option("header", 'true')\
#     .option('inferSchema', 'true')\
#     .load('data/yellow_tripdata_2021-02.csv')

In [5]:
trips_df.printSchema()
zone_df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [6]:
trips_df.show(5)
zone_df.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       2| 2021-03-01 00:22:02|  2021-03-01 00:23:22|              1|          0.0|         1|                 N|         264|         264|           2|        3.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         4.3|                 0.0|
|       2| 2021-03-01 00:24:48|  2021-03-01 00:24:56|              1|          0.0|         1|                 N|         152|         152|           2|        2.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         3.8|                 0.0|
|       2| 2021-03-01 00:25:17|  2021-03-01 00:31:01|              1|          0.0|         1|                 N|         152|         152|           2|        3.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         4.8|                 0.0|
|       1| 2021-03-01 00:07:40|  2021-03-01 00:31:23|              0|         16.5|         4|                 N|         138|         265|           1|       51.0|  0.5|    0.5|     11.65|        6.12|                  0.3|       70.07|                 0.0|
|       2| 2021-03-01 00:02:13|  2021-03-01 00:06:01|              1|         1.13|         1|                 N|          68|         264|           1|        5.5|  0.5|    0.5|      1.86|         0.0|                  0.3|       11.16|                 2.5|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 5 rows

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 5 rows

In [7]:
trips_df.createOrReplaceTempView('trips')
zone_df.createOrReplaceTempView('zone')

In [43]:
query = '''
SELECT
t.VendorID,
To_DATE(t.tpep_pickup_datetime) as pickup_date,
To_DATE(t.tpep_dropoff_datetime) as dropoff_date,
HOUR(t.tpep_pickup_datetime) as pickup_time,
HOUR(t.tpep_dropoff_datetime) as dropoff_time,
t.passenger_count,
t.trip_distance,
t.tip_amount,
t.total_amount,
t.payment_type,
pz.Zone as pickup_zone,
dz.Zone as dropoff_zone,
T.congestion_surcharge  

FROM trips t

LEFT JOIN zone pz ON t.PULocationID = pz.LocationID
LEFT JOIN zone dz ON t.DOLocationID = dz.LocationID
'''
comb_df = spark.sql(query)
comb_df.show()

+--------+-----------+------------+-----------+------------+---------------+-------------+----------+------------+------------+--------------------+--------------------+--------------------+
|VendorID|pickup_date|dropoff_date|pickup_time|dropoff_time|passenger_count|trip_distance|tip_amount|total_amount|payment_type|         pickup_zone|        dropoff_zone|congestion_surcharge|
+--------+-----------+------------+-----------+------------+---------------+-------------+----------+------------+------------+--------------------+--------------------+--------------------+
|       2| 2021-03-01|  2021-03-01|          0|           0|              1|          0.0|       0.0|         4.3|           2|                  NV|                  NV|                 0.0|
|       2| 2021-03-01|  2021-03-01|          0|           0|              1|          0.0|       0.0|         3.8|           2|      Manhattanville|      Manhattanville|                 0.0|
|       2| 2021-03-01|  2021-03-01|          0|           0|              1|          0.0|       0.0|         4.8|           2|      Manhattanville|      Manhattanville|                 0.0|
|       1| 2021-03-01|  2021-03-01|          0|           0|              0|         16.5|     11.65|       70.07|           1|   LaGuardia Airport|                  NA|                 0.0|
|       2| 2021-03-01|  2021-03-01|          0|           0|              1|         1.13|      1.86|       11.16|           1|        East Chelsea|                  NV|                 2.5|
|       2| 2021-03-01|  2021-03-01|          0|           0|              1|         2.68|      4.29|       18.59|           1|Upper West Side S...|      Yorkville East|                 2.5|
|       1| 2021-03-01|  2021-03-01|          0|           0|              1|         12.4|       0.0|        43.8|           1|Penn Station/Madi...|           Flatlands|                 2.5|
|       1| 2021-03-01|  2021-03-01|          0|           1|              2|          9.7|       0.0|        32.3|           2|         JFK Airport|                  NA|                 0.0|
|       1| 2021-03-01|  2021-03-01|          0|           0|              1|          9.3|      7.25|       43.67|           1|   LaGuardia Airport|     Lenox Hill West|                 2.5|
|       2| 2021-03-01|  2021-03-01|          0|           0|              1|         9.58|      7.68|        46.1|           1|   LaGuardia Airport|        Clinton West|                 2.5|
|       1| 2021-03-01|  2021-03-01|          0|           0|              1|         16.2|       0.0|        45.3|           2|         JFK Airport|           Homecrest|                 0.0|
|       2| 2021-03-01|  2021-03-01|          0|           0|              1|         3.58|       2.0|        19.3|           1|     Lenox Hill East|             Astoria|                 2.5|
|       2| 2021-03-01|  2021-03-01|          0|           0|              1|         0.91|       5.0|        14.8|           1|Upper West Side S...|Upper West Side N...|                 2.5|
|       2| 2021-03-01|  2021-03-01|          0|           0|              2|         2.57|       0.0|        12.8|           2|    Hamilton Heights|      Central Harlem|                 0.0|
|       2| 2021-03-01|  2021-03-01|          0|           0|              1|          0.4|       0.0|         5.3|           2|   East Harlem North|      Central Harlem|                 0.0|
|       2| 2021-03-01|  2021-03-01|          0|           0|              1|         3.26|       0.0|        17.3|           2|Upper West Side S...| Little Italy/NoLiTa|                 2.5|
|       2| 2021-03-01|  2021-03-01|          0|           0|              1|        13.41|      9.45|       47.25|           1|         JFK Airport|           Flatlands|                 0.0|
|       2| 2021-03-01|  2021-03-01|          0|           0|              5|         2.35|       0.0|        12.8|           2|Upper West Side S...|        Clinton West|                 2.5|
|       1| 2021-03-01|  2021-03-01|          0|           0|              2|         18.3|       0.0|       61.42|           1|         JFK Airport|Times Sq/Theatre ...|                 2.5|
|       2| 2021-03-01|  2021-03-01|          0|           0|              1|         1.53|      2.36|       14.16|           1|Sutton Place/Turt...|        Clinton East|                 2.5|
+--------+-----------+------------+-----------+------------+---------------+-------------+----------+------------+------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [44]:
# comb_df를 view 로 등록 
comb_df.createOrReplaceTempView("comb")

In [42]:
query = '''
SELECT pickup_date, pickup_time
FROM comb
WHERE pickup_time > 0 
'''

spark.sql(query).show()

+-----------+-----------+
|pickup_date|pickup_time|
+-----------+-----------+
| 2021-02-28|         23|
| 2021-02-28|         23|
| 2021-02-28|         23|
| 2021-02-28|         23|
| 2021-02-28|         23|
| 2021-02-28|         23|
| 2021-02-28|         23|
| 2021-03-01|         22|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
+-----------+-----------+
only showing top 20 rows

In [17]:
query = '''
SELECT pickup_date, pickup_time
FROM comb
WHERE pickup_date < '2020-12-31' 
'''

spark.sql(query).show()

+-----------+-----------+
|pickup_date|pickup_time|
+-----------+-----------+
| 2009-01-01|          0|
| 2008-12-31|         23|
| 2009-01-01|          0|
| 2009-01-01|          0|
| 2009-01-01|          0|
| 2009-01-01|          0|
| 2009-01-01|          0|
| 2009-01-01|          1|
| 2009-01-01|          0|
| 2008-12-31|         23|
| 2008-12-31|         23|
| 2008-12-31|         23|
| 2008-12-31|         23|
| 2009-01-01|          0|
| 2009-01-01|          0|
| 2009-01-01|          0|
| 2009-01-01|         16|
| 2009-01-01|         16|
| 2009-01-01|          0|
| 2009-01-01|          0|
+-----------+-----------+
only showing top 20 rows

In [18]:
comb_df.describe()

DataFrame[summary: string, VendorID: string, pickup_time: string, dropoff_time: string, passenger_count: string, trip_distance: string, tip_amount: string, total_amount: string, payment_type: string, pickup_zone: string, dropoff_zone: string]

In [20]:
spark.sql(query).explain()

== Physical Plan ==
*(3) Project [cast(tpep_pickup_datetime#17 as date) AS pickup_date#325, hour(cast(tpep_pickup_datetime#17 as timestamp), Some(Asia/Seoul)) AS pickup_time#327]
+- *(3) BroadcastHashJoin [DOLocationID#24], [LocationID#331], LeftOuter, BuildRight, false
   :- *(3) Project [tpep_pickup_datetime#17, DOLocationID#24]
   :  +- *(3) BroadcastHashJoin [PULocationID#23], [LocationID#68], LeftOuter, BuildRight, false
   :     :- *(3) Filter (isnotnull(tpep_pickup_datetime#17) AND (cast(tpep_pickup_datetime#17 as date) < 18627))
   :     :  +- FileScan csv [tpep_pickup_datetime#17,PULocationID#23,DOLocationID#24] Batched: false, DataFilters: [isnotnull(tpep_pickup_datetime#17), (cast(tpep_pickup_datetime#17 as date) < 18627)], Format: CSV, Location: InMemoryFileIndex[file:/home/lab05/src/data/trips/yellow_tripdata_2021-01.csv, file:/home/lab05/s..., PartitionFilters: [], PushedFilters: [IsNotNull(tpep_pickup_datetime)], ReadSchema: struct<tpep_pickup_datetime:string,PULocationID:int,DOLocationID:int>
   :     +- BroadcastExchange HashedRelationBroadcastMode(List(cast(input[0, int, false] as bigint)),false), [id=#683]
   :        +- *(1) Filter isnotnull(LocationID#68)
   :           +- FileScan csv [LocationID#68] Batched: false, DataFilters: [isnotnull(LocationID#68)], Format: CSV, Location: InMemoryFileIndex[file:/home/lab05/src/data/taxi+_zone_lookup.csv], PartitionFilters: [], PushedFilters: [IsNotNull(LocationID)], ReadSchema: struct<LocationID:int>
   +- ReusedExchange [LocationID#331], BroadcastExchange HashedRelationBroadcastMode(List(cast(input[0, int, false] as bigint)),false), [id=#683]

In [27]:
query1 = '''
SELECT pickup_date, pickup_time
FROM comb
WHERE pickup_date < '2020-12-31'

'''
spark.sql(query1)

DataFrame[pickup_date: date, pickup_time: int]

In [28]:
#실행 계획, 실행 결과 (4040)
query2 = '''
SELECT pickup_date, pickup_time
FROM comb
WHERE pickup_time > 0 and pickup_time <= 12
'''
spark.sql(query2).show()

+-----------+-----------+
|pickup_date|pickup_time|
+-----------+-----------+
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
| 2021-03-01|          1|
+-----------+-----------+
only showing top 20 rows

In [31]:
#실행 계획, 실행 결과 (4040)
query3 = '''
select pickup_date , count(*) as trip_count
from comb 
where pickup_time > 0
group by pickup_date
order by pickup_date
'''
spark.sql(query3).show()

+-----------+----------+
|pickup_date|trip_count|
+-----------+----------+
| 2002-12-31|         1|
| 2003-01-05|         1|
| 2004-04-04|         1|
| 2008-12-31|        26|
| 2009-01-01|        46|
| 2020-12-31|        16|
| 2021-01-01|     23649|
| 2021-01-02|     34045|
| 2021-01-03|     25881|
| 2021-01-04|     44210|
| 2021-01-05|     46539|
| 2021-01-06|     49210|
| 2021-01-07|     50013|
| 2021-01-08|     50122|
| 2021-01-09|     39407|
| 2021-01-10|     29275|
| 2021-01-11|     46568|
| 2021-01-12|     49878|
| 2021-01-13|     51045|
| 2021-01-14|     52763|
+-----------+----------+
only showing top 20 rows

In [ ]:
#픽업 및 드롭오프 지점 정보: PULocationID DOLocationID LocationID

In [63]:
#운행 거리와 평균 요금 분석: trip_distance total_amount
distance_data = '''
SELECT trip_distance, ROUND(AVG(total_amount),2) as avg_total_amount
FROM comb
GROUP BY trip_distance
ORDER BY avg_total_amount DESC
'''
spark.sql(distance_data).show()

+-------------+----------------+
|trip_distance|avg_total_amount|
+-------------+----------------+
|       964.27|          2413.8|
|        427.7|          2292.4|
|       821.54|          2059.3|
|        267.7|          1108.2|
|        260.5|           894.2|
|        271.4|          872.54|
|       344.88|           865.3|
|        323.0|          838.05|
|       215.95|          832.54|
|        282.1|          736.85|
|        270.2|           715.3|
|       161.38|          682.48|
|       258.98|           654.8|
|       170.26|           653.1|
|        99.48|          645.21|
|        220.4|          631.42|
|       247.37|           621.3|
|       224.16|           602.3|
|       103.98|           601.8|
|       277.74|           600.3|
+-------------+----------------+
only showing top 20 rows

In [34]:
#결제 방식별 분석:
Payment_data = '''
SELECT payment_type, count(*) AS payment_count,round((COUNT(*) * 100.0 / (SELECT COUNT(*) FROM comb)),2) AS payment_percentage
FROM comb
GROUP BY payment_type
ORDER BY payment_type
'''
spark.sql(Payment_data).show()

+------------+-------------+------------------+
|payment_type|payment_count|payment_percentage|
+------------+-------------+------------------+
|        null|       834028|              5.56|
|           1|     10716903|             71.44|
|           2|      3308670|             22.06|
|           3|        81434|              0.54|
|           4|        59664|              0.40|
|           5|            1|              0.00|
+------------+-------------+------------------+

In [49]:
#지역별 혼잡도 요금 확인
congestioin_data = '''
SELECT pickup_zone, dropoff_zone, avg(congestion_surcharge) as avg_congestion_surcharge
FROM comb
GROUP BY pickup_zone, dropoff_zone
ORDER BY avg_congestion_surcharge DESC
'''
spark.sql(congestioin_data).show()

+--------------------+--------------------+------------------------+
|         pickup_zone|        dropoff_zone|avg_congestion_surcharge|
+--------------------+--------------------+------------------------+
|Forest Park/Highl...|Upper East Side N...|                     2.5|
|Meatpacking/West ...|         Old Astoria|                     2.5|
|           Hudson Sq|             Midwood|                     2.5|
|Meatpacking/West ...|  Brooklyn Navy Yard|                     2.5|
|            Red Hook|  World Trade Center|                     2.5|
|     Carroll Gardens|Upper West Side S...|                     2.5|
|        Battery Park|     Windsor Terrace|                     2.5|
|        Bloomingdale|           Chinatown|                     2.5|
|        East Village|           Bellerose|                     2.5|
|        Battery Park|         Fort Greene|                     2.5|
|     Hammels/Arverne|                SoHo|                     2.5|
|     Lenox Hill West|             Oakwood|                     2.5|
|Long Island City/...|     Highbridge Park|                     2.5|
|Washington Height...|          Kensington|                     2.5|
|Long Island City/...|        Bloomingdale|                     2.5|
|        West Village| Green-Wood Cemetery|                     2.5|
|        Clinton West|       Prospect Park|                     2.5|
|Stuy Town/Peter C...|West Farms/Bronx ...|                     2.5|
|Washington Height...|                SoHo|                     2.5|
|                SoHo|           Laurelton|                     2.5|
+--------------------+--------------------+------------------------+
only showing top 20 rows

In [65]:
spark.stop()